* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*Title*/
.top-section {
  background-color: lightblue;
  height: 20%;
  display: flex;
  align-items:flex-end;
  justify-content: left;
  padding-left: 10%;
  /* margin-top: 5%;needs to be changed */
}

.top-section h1{
  font-size: 400%;
}
/*Content*/
.bottom-section {
  display: flex;
  height: 80%;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 45%;
}
/*Crafting*/
.left-top {
  background-color: lightcoral;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*Description*/
.left-bottom {
  background-color: lightgreen;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Materials*/
.right-column {
  background-color: lightgoldenrodyellow;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*Crafting*/
.crafting-triangle {
  background-color: white;
  width: 45%;
  height: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Description*/
.description-box {
  background-color: white;
  width: 75%;
  height: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Crafting Boxes*/
.triangle-box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 12px;
}

.box1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.box2 {
  bottom: 0;
  left: 0;
}

.box3 {
  bottom: 0;
  right: 0;
}
/**/
.right-square {
  background-color: white;
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}
/*Material title*/
.top-portion {
  background-color: lightpink;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-portion h1{
  font-size: 300%;
  position: absolute;
  bottom: 75%;
  left: 0;
  padding-left: 10%;
  padding-bottom: 2%;
}
.top-portion h2{
  font-size: 300%;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10%;
  padding-top: 2%;
}

/*Materials*/
.bottom-portion {
  background-color: lightgray;
  height: 75%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  /*padding-top: 50%;*//*This needs to be changed for responsiveness*/
}




.box-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  gap: 50px;
  justify-content: center;
}

.small-box {
  width: 100px;
  height: 100px;
  /*padding: 10%;*/
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
